<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Artists Top Track!</h1>

    <ul>
      <% playlists.forEach((playlist)=> { %>
      <li>
        <h2>Playlist Name: <%= playlist.name %></h2>
        <p>Description: <%= playlist.description %></p>
      </li>
      <hr />
      <% }) %>
    </ul>
  </body>
</html>
