<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spoti-Afro</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="stylesheets/style.css" />

    <script
      src="https://kit.fontawesome.com/7596021f26.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div id="body-wrap">
      <div class="container">
        <div class="header-playlists-container">
          <div class="header-playlists-grid">
            <header>
              <div class="menu-bar">
                <nav class="nav-bar">
                  <div class="logo-container">
                    <img src="images/spotify-logo.png" alt="spotify logo" />
                  </div>
                  <div class="navbar-brand-container">
                    <a id="navbar-brand" href="#"> Spoti-Afro </a>
                  </div>
                </nav>
                <!-- end of navbar-->
              </div>
              <!-- end of menu-bar div -->
            </header>
            <!-- end of header element -->

            <div class="playlists-grid-container">
              <div class="playlist-wrap" id="top100">
                <img src="images/playlist1.png" alt="playlist" />
              </div>
              <div class="playlist-wrap">
                <img src="images/playlist2.png" alt="playlist" />
              </div>
              <div class="playlist-wrap">
                <img src="images/playlist3.png" alt="playlist" />
              </div>
              <div class="playlist-wrap">
                <img src="images/playlist4.png" alt="playlist" />
              </div>
              <div class="playlist-wrap">
                <img src="images/playlist5.png" alt="playlist" />
              </div>
              <div class="playlist-wrap">
                <img src="images/playlist6.png" alt="playlist" />
              </div>
            </div>
            <!-- end of playlists-grid-container div -->
          </div>
          <!-- end of header-playlists-grid div -->

          <div id="playlist-sidebar">
            <!-- <h6>Select a playlist</h6> -->

            <div class="current-playlist">
              <div id="current-playlist-head">
                <div class="playlist-image-container">
                  <img
                    src="images/current-playlist-img.png"
                    alt="current-playlist-image"
                    id="selected-playlist-img"
                  />
                </div>

                <div class="playlist-info">
                  <h6 class="playlist-title">Afro Pop</h6>
                  <p class="playlist-description">
                    The hottest Afro-pop songs on the planet
                  </p>
                  <p class="playlist-total-songs">60 songs</p>
                </div>
              </div>
              <!-- end of current-playlist-head div -->

              <hr />

              <div class="song-list-wrap">
                <ol id="list">
                  <li>
                    <div class="song">
                      <div class="song-image-wrap">
                        <img src="images/i'm-a-mess.png" alt="song-1" />
                      </div>

                      <div class="song-info-wrap">
                        <div class="title-artist-wrap">
                          <h6 class="song-title">i'm a mess</h6>
                          <p class="artist-name">Omah Lay</p>
                        </div>
                      </div>
                      <!-- end of song-info-wrap div -->

                      <div class="time-wrap">
                        <p class="time">2:33</p>
                      </div>
                    </div>
                    <!-- end of song div -->
                  </li>

                  <li>
                    <div class="song">
                      <div class="song-image-wrap">
                        <img src="images/electricity.png" alt="song-2" />
                      </div>

                      <div class="song-info-wrap">
                        <div class="title-artist-wrap">
                          <h6 class="song-title">Electricity</h6>
                          <p class="artist-name">Pheelz, Davido</p>
                        </div>
                      </div>
                      <!-- end of song-info-wrap div -->

                      <div class="time-wrap">
                        <p class="time">2:12</p>
                      </div>
                    </div>
                    <!-- end of song div -->
                  </li>

                  <li>
                    <div class="song">
                      <div class="song-image-wrap">
                        <img src="images/i'm-a-mess.png" alt="song-1" />
                      </div>

                      <div class="song-info-wrap">
                        <div class="title-artist-wrap">
                          <h6 class="song-title">i'm a mess</h6>
                          <p class="artist-name">Omah Lay</p>
                        </div>
                      </div>
                      <!-- end of song-info-wrap div -->

                      <div class="time-wrap">
                        <p class="time">2:33</p>
                      </div>
                    </div>
                    <!-- end of song div -->
                  </li>

                  <li>
                    <div class="song">
                      <div class="song-image-wrap">
                        <img src="images/electricity.png" alt="song-2" />
                      </div>

                      <div class="song-info-wrap">
                        <div class="title-artist-wrap">
                          <h6 class="song-title">Electricity</h6>
                          <p class="artist-name">Pheelz, Davido</p>
                        </div>
                      </div>
                      <!-- end of song-info-wrap div -->

                      <div class="time-wrap">
                        <p class="time">2:12</p>
                      </div>
                    </div>
                    <!-- end of song div -->
                  </li>

                  <li>
                    <div class="song">
                      <div class="song-image-wrap">
                        <img src="images/i'm-a-mess.png" alt="song-1" />
                      </div>

                      <div class="song-info-wrap">
                        <div class="title-artist-wrap">
                          <h6 class="song-title">i'm a mess</h6>
                          <p class="artist-name">Omah Lay</p>
                        </div>
                      </div>
                      <!-- end of song-info-wrap div -->

                      <div class="time-wrap">
                        <p class="time">2:33</p>
                      </div>
                    </div>
                    <!-- end of song div -->
                  </li>

                  <li>
                    <div class="song">
                      <div class="song-image-wrap">
                        <img src="images/electricity.png" alt="song-2" />
                      </div>

                      <div class="song-info-wrap">
                        <div class="title-artist-wrap">
                          <h6 class="song-title">Electricity</h6>
                          <p class="artist-name">Pheelz, Davido</p>
                        </div>
                      </div>
                      <!-- end of song-info-wrap div -->

                      <div class="time-wrap">
                        <p class="time">2:12</p>
                      </div>
                    </div>
                    <!-- end of song div -->
                  </li>
                </ol>
                <!-- end of ordered-list -->
              </div>
              <!-- end of song-list-wrap div -->
            </div>
            <!-- end of current-playlist div -->
          </div>
          <!-- end of playlist-sidebar div -->
        </div>
        <!-- end of header-playlists-container div -->
      </div>
      <!-- end of container div -->
    </div>
    <!-- end of body-wrap div -->

    <p><% message %></p>
    <a href="/home"><button>Go to home</button></a>

    <script src="js/main.js"></script>
  </body>
</html>
